@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,700&display=swap');

.App {
  text-align: center;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 48px;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.btn {
  width: 70px;
  display: block;
  margin: 0 auto;
}

.title + .btn {
  margin: 50px auto 0 auto;
}

.imgsContainer {
  width: 900px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  display: flex;
  border-radius: 8px;
}

.imgItem {
  width: 300px;
}

.img {
  width: 100%;
}

.imgItem:nth-child(odd) {
  margin: 0 10px 0 0;
}

.container {
  background: url("./images/backgroundimg.png") 0.75%;
  background-repeat: repeat;
  height: 100vh;
}

.imgButton {
  margin: 15px auto 0;
  display: block;
  width: 150px;
  height: 35px;
}

.uploadButton {
    width: 150px;
    height: 35px;
}

.formContainer {
  width: 900px;
  margin: 30px auto;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
